<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление фильма</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/films/add}" th:object="${filmForm}">
        <div class="mb-3">
            <label for="title" class="form-label">Название</label>
            <!--            Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
            <input name="filmTitle" type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Страна производства фильма</label>
            <input name="filmCountry" type="text" class="form-control" id="country">
        </div>
        <div class="mb-3">
            <label for="premier_date" class="form-label">Дата премьеры</label>
            <input name="filmPremierYear" type="date" class="form-control" id="premier_date">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Жанр</label>
            <select class="form-select" name="filmGenre" id="genre">
                <option selected>Выберете жанр из списка:</option>
                <option th:each="genre : ${T(com.sber.dz_films.model.Genre).values()}"
                        th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>