<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все Фильмы</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы</h1>
    <div class="row">
        <div class="col">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Страна</th>
            <th scope="col">Дата выхода на экран</th>
            <!--            <th scope="col">Автор(ы)</th>-->
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td th:text="${film.getFilmTitle()}">
                <!--                <a th:href="'/books/' + ${book.getId()}" ></a>-->
            </td>
            <td th:text="${film.getFilmGenre().getGenreTextDisplay()}"></td>
            <td th:text="${film.getFilmCountry()}"></td>
<!--            <td th:classappend="${film.getAmount() <= 0} ? 'not-enough-book'"-->
<!--                th:text="${film.getAmount()} <= 0 ? 'Нет в наличии' : ${book.getAmount()}"></td>-->
            <td th:text="${film.getFilmPremierYear()}"></td>
            <!--            <td>-->
            <!--                <ul>-->
            <!--                    <li th:each="author : ${book.getAuthors()}" th:text="${author.getAuthorFio()}"></li>-->
            <!--                </ul>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>