<div xmlns:th="http://www.thymeleaf.org"
           th:fragment="header">
  <nav class="navbar navbar-expand-lg" style="background-color: #ececec">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: 010101">Фильмотека</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-link">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Фильмы
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/films">Все фильмы</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
<!--            <a class="nav-link active" aria-current="page" href="/films">Фильмы</a>-->
          </li>
          <li class="nav-link">
            <a class="nav-link active" aria-current="page" href="/directors">Режиссёры</a>
          </li>
<!--          <li sec:authorize="isAuthenticated() && (hasRole('USER'))" class="nav-link">-->
<!--            <a class="nav-link active" aria-current="page" href="/my/books">Мои книги</a>-->
<!--          </li>-->
<!--          <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" class="nav-link">-->
<!--            <a class="nav-link active" aria-current="page" href="/users/list">Пользователи</a>-->
<!--          </li>-->
        </ul>
<!--        <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">-->
<!--          <a class="nav-link active" style="float: right" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>-->
<!--        </div>-->

<!--        <form class="d-flex" sec:authorize="!isAuthenticated()">-->
<!--          <a href="/login" class="btn btn-primary" role="button" aria-disabled="true">Войти</a>-->
<!--        </form>-->
<!--        <form class="d-flex" sec:authorize="isAuthenticated()">-->
<!--          <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выйти</a>-->
<!--        </form>-->
                <form class="d-flex">
                  <a href="/logout" class="btn btn-light" role="button" aria-disabled="true">Выдти</a>
                </form>

      </div>
    </div>
  </nav>
</div>
